* {
  box-sizing: border-box;
}



body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.image {
  width: 360px;
  border-radius: 2% 2% 0 0;
}


.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 360px;
  text-align: center;
  background-color: #283e50;
  color: white;
  padding: 0px 20px 25px 20px;

}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  justify-content: center;
  padding: 0;
  margin: 0;


}

button {
  width: 360px;
  height: 50px;
  padding: 0;
  margin: 0;

}

a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 50px;
}

.buttonrules {
  background-color: #1fcca4;
  border: 0;
  text-decoration: dotted;

}

.buttongame {
  background-color: #0197f6;
  border: 0;


}

.buttonrules:hover {
  background-color: #1cbb96;
  cursor: pointer;

}

.buttongame:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* 2.část úkolu */

.play-menu {

  max-width: 80vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  justify-content: center;

}

h1 {
  font-family: Lobster, Arial, Helvetica;
  font-size: 3.5rem;
  text-align: center;
  color: white;
  display: flex;
}


.play-container {
  display: flex;
  justify-content: start;
  color: white;
  font-size: 20px;
}

.items {
  display: flex;

  .playing {
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    margin: 0.5rem;
    padding-left: 5rem;
  }


  .opening {
    display: flex;
    justify-content: right;
    margin-left: 35%;
    margin-right: 35%;
  }

}

/*  
.circle {
  width: 22px;
  height: 22px;
  border: 2.5px solid white;
  border-radius: 60%;

}
*/

.header-btns {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  margin-block-end: auto;

}

.home-btn {
  background-color: #1fcca4;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  align-items: center;

}

.home-btn:hover {
  background-color: #1cbb96;
}

.restart-btn {
  background-color: #0197f6;
  padding: 5px;
  border-radius: 3px;
  margin-right: 5px;
  align-items: center;


}

.restart-btn:hover {
  background-color: #0090e9;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game button {
  width: 3vw;
  height: 3vw;
  border: 0.1rem solid black;
  opacity: 40%;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.game button:hover {
  background-color: white;
  opacity: 70%;
}

.game button:focus {
  background-color: white;
  opacity: 70%;
}

.board__field--cross {
  background-image: url("cross.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

.board__field--circle {
  background-image: url("circle.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}
