* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.image {
  width: 360px;
  border-radius: 2% 2% 0 0;
}


.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 360px;
  text-align: center;
  background-color: #283e50;
  color: white;
  padding: 0px 20px 25px 20px;

}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  justify-content: center;
  padding: 0;
  margin: 0;


}

button {
  width: 360px;
  height: 50px;
  padding: 0;
  margin: 0;

}

a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 50px;
}

.buttonrules {
  background-color: #1fcca4;
  border: 0;
  text-decoration: dotted;

}

.buttongame {
  background-color: #0197f6;
  border: 0;


}

.buttonrules:hover {
  background-color: #1cbb96;
  cursor: pointer;

}

.buttongame:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* 2.část úkolu */

body {
  max-width: 80vmin;
}

.playContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;

}

.firstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vmin;
}

.playContainer>h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 44px;
  margin: 20px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
}


h2 {
  color: white;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 24px;

}

.leftSide {
  display: flex;
  justify-content: flex-start;

}

.circle {
  height: 23px;
  width: 23px;
  border-radius: 60%;
  border: 3 solid white;
  display: inline-block;
  align-self: center;
  margin-left: 5 px;
}

.rightSide {
  display: flex;
  justify-content: flex-end;

}

.playField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home {
  border: 6px solid, #1fcca4;
  background-color: #1fcca4;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  padding: 6px;
  align-self: center;
}

a.home:hover {
  background-color: #1cbb96;
}


.restart {
  border: 6px solid, #0197f6;
  background-color: #0197f6;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  padding: 6px;
  margin: 8px;
  align-self: center;

}

a.restart:hover {
  background-color: #0090e9;
}



.playField {
  width: 4vw;
  height: 4vw;
  border: 0.1rem solid black;
  opacity: 50%;
  cursor: pointer;
  padding-bottom: 0.5rem;
}

.playField button:hover {
  background-color: white;
  opacity: 70%;
}

.playField button:focus {
  background-color: white;
  opacity: 70%;
}
